* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}

.container {
    width: 100vw;
    height: 100vh;
    padding: 10px;
}

header {
    height: 200px;
    background-color: yellow;
}

aside {
    width: 20%;
    height: 300px;
    padding: 10px;
    float: left;
}

.contenitore {
    height: 100%;
}

aside .contenitore {
    background-color: violet;
}

main {
    width: 60%;
    height: 500px;
    padding: 10px;
    float: left;
}

main .contenitore {
    background-color: red;
}

.contenitore.piccolo {
    height: 100px;
    border: 2px solid black;
    padding-bottom: 10px;
}
